/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url('/img/1999/star.jpg'); /* 你自己的图片路径，放在 static/img 下 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    /* 可选增强效果 */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
